* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}

dialog {
  border: none;
  padding: 20px;
  border-radius: 8px;
  background: #fff;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: flex;
  flex-direction: column; */
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

#library {
  width: 60%;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.bookCard {
  color: darkorchid;
  background-color: lightpink;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

#newBook {
  margin: 0 auto;
  width: 10%;
}

#newBookForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  width: 90%;
}

#emptyMsg {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#errorMsg {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
